* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f4f7;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-section, .tabela-section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #007bff;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Situações */
.aprovado {
    background: #b2f5b2;
}

.reprovado {
    background: #f5b2b2;
}

/* Responsividade */
@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr {
        margin-bottom: 15px;
    }

    th {
        background: #0056b3;
    }
}
